<!DOCTYPE html>
<html lang="ja">
<head>
  <title>エラー</title>
  <%- include("./head"); %>
</head>
<body>
<%- include("./header"); %>

<main>
  <div class="error">
    <h1>エラー</h1>
    <p><%= message %></p>
  </div>
</main>

<%- include("./footer"); %>
</body>
</html>